# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/sdk will be requested for review when
# someone opens a pull request.
* @temporalio/sdk

# IMPORTANT: Make sure to add `@temporalio/sdk` on every override below.
# This is required so that SDK team can do repo-wide maintenance tasks.

/README.md @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk
/go.mod @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk
/go.sum @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk

/nexus*/ @temporalio/sdk @temporalio/nexus

/googleadk/       @temporalio/sdk @temporalio/ai-sdk
/workflowstreams/ @temporalio/sdk @temporalio/ai-sdk
