*.out
*.test
*.xml
*.swp
.idea/
*.iml
*.cov
*.html
.tmp/
.DS_Store
test
test.log

# Executables produced by cadence-samples repo
./cron
./dsl
./expense
./dummy
./fileprocessing
./branch
./childworkflow
./choice
./dynamic
./greetings
./helloworld
./pickfirst
./retryactivity
./splitmerge
./timer
